.donatebox{
	// background-color: #f0efe4;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
	margin: 10px auto 0 auto;
	padding: 0px 10px;
	position: relative;
	.size(90%,auto);
	img{
		.size(100%,auto);
		// margin: 5px 0;
	}
	h2{
		font-size: 16px;
		margin: 0px;
		line-height: 20px;
	}
	.constellation{
		margin: 0px;
		.iconfont{
			padding-left: 10px;
			color:@color_redpurple;
		}
	}
	.donateicon{
		.square(75px);
		position: absolute;
		top: 0;
		right:0; 
		background-size: 100%;
	}
	.donateicon1{
		background-image: url("../images/1.png");
	}
	.donateicon10{
		background-image: url("../images/10.png");
	}
	.donateicon15{
		background-image: url("../images/15.png");
	}
	.donateicon20{
		background-image: url("../images/20.png");
	}
}

.lovelinkbox{
	.col-xs-3{
		padding: 0px;
		&:first-child{
			padding-top: 30px;
		}
	}
	.col-xs-6{
		margin-top: 42px;
		color:@color_redpurple;
		position: relative;
		text-align: center;
		.arrowicon{
			position: absolute;
			top: 0px;
			width: 20px;
			height: 100%;
		}
		.lefticon{
			left: 0px;
		}
		.righticon{
			right: 0px;
		}
		h3{
			font-size: 16px;
			margin: 0px;
		}
		p{
			font-size: 12px;
			margin: 0px;
		}
	}
	.lovelink{
		.square(60px;);
		display: block;
		position: relative;
		margin: 0 auto;
		img{
			.size(100%,auto);
		}
		.picshade{
			position: absolute;
			// background-image: url(../images/loveshade.png);
			// background-size: 100%;
			.square(100%);
			top: 0px;
			left: 0px;
			fill:#eee;
		}
	}
}