//列表页主样式
.mainlist{
	padding: 10px;
	background-color: @gary_bg;
	position: relative;
	.size(100%,auto);
	.listbox{
		background-color: #fff;
		margin-bottom: 10px;
		padding: 6px 10px;
		border-radius: 5px;
		position: relative;
		.clearfix();
		.bb(100%,auto);
		&:extend(.boxshadow);
		.touxiang{
			float: left;
			background-color: #ccc;
			margin-top: 3px;
			.square(60px);
			margin-right: 10px;
			img{width: 100%;}
		}
		

		.textbox{
			h3{
				max-height: 20px;
				font-size: 16px;
				line-height: 20px;
				margin: 0px;
				color:@color_title;
				font-weight: bold;
				overflow: hidden;
				padding-right: 5px;
			}
			.maxh3{
				max-height: 40px;
			}
			p{
				max-height: 42px;
				overflow: hidden;
				font-size: 14px;
				line-height: 21px;
				min-height: 42px;
				color:@gary_text;
			}
		}

		.tagbox{
			.size(100%,16px);
			.clearfix();
			// background-color: #ccc;
			margin-top: 6px;
			padding-right: 80px;
			overflow: hidden;
		}
		.consult{
			font-size: 18px;
			font-weight: bold;
			.size(90px,44px);
			line-height: 42px;
			text-align: center;
		}

		.timetag{
			.size(auto,22px);
			font-size: 14px;
			line-height: 22px;
		}
		.wbtn_fly{
			padding: 0 3px;
		}
	}
}

.activelist{
	.listbox{
		padding: 0px;
		padding-bottom: 6px;
		.mainimg{
			.size(100%,auto);
			img{
				.size(100%,auto);
				border-top-left-radius:5px;
				border-top-right-radius:5px; 
			}
		}//.mainimg
		.activeconcent{
			padding: 10px;
			padding-bottom: 0px;
			.textbox{
				h3{
					max-height:40px;
					padding-right: 0px;
				}
				p{
					min-height: 22px;
					margin-bottom: 6px;
					font-size: 16px;
					// color:@gary_dark;
					.iconfont{
						font-size: 18px;
						color:@color_purplered;
						padding-right: 5px;
					}
				}
			}//.textbox
		}//.activeconcent
		.baomingstatus{
			.bb(50px,50px);
			position:absolute;
			bottom:0px;
			right: 0px;
			overflow: hidden;
			border-bottom-right-radius:5px;
			.text{
				.bb(50px,20px);
				text-align: center;
				line-height: 20px;
				-webkit-transform: translate3d(9px,21px,0px) rotate(-45deg);
				color: #fff;
				position:absolute;
				top: 0px;
				left: 0px;
				text-shadow: 0 0 4px rgba(0,0,0,0.3);
				font-weight:bold;
			}
			.sanjiao{
				.bb(inherit,inherit);
				fill:@color_greenyellow;
			}
		}
	}//.listbox
	.partyover{
		.sanjiao{
			fill:@gary_c !important;
		}
		.wbtn_flytr{
			background-color:@gary_c !important;
		}
	}
}