body{
	background-color: @main-bgcolor;
}


//导师详情
.teacherheader{
	.size(100%,145px);
	.clearfix();
	padding: 10px;
	.col-xs-4{
		padding: 0px;
		text-align: center;
		height:90px;
		.touxiang{
			.square(90px);
			img{
				.square(inherit)
			}
		}
		.teachertag{
			.size(70%,30px);
			text-align: right;
			line-height: 30px;
			padding: 0 5px;
			margin-top: 10px;
			&:first-child{margin-top: 20px;}
			.iconfont{
				.size(20%,30px);
				line-height: 30px;
				font-size:18px;
				float: left;
				text-align: center;
			}
		}
		.teacherpraise{
			margin-top: 30px;
			.size(60px,60px);
			text-align: center;
			padding: 0px;
			line-height: 10px;
			.iconfont{
				font-size: 20px;
				display: inline-block;
				height: 40px;
				line-height: 40px;
			}
		}

	}
	.teachername{
		.bb(100%,40px);
		font-size: 20px;
		color:@color_main;
		text-align: center;
		line-height: 40px;
		font-weight: bold;
	}
}



.teacherinfotagbox{
	.size(100%,45px);
}
.teacherinfotag{
	background-color: @color_main;
	position: relative;
	&:extend(.teacherinfotagbox);
	.col-xs-4{
		// position: relative;
		// z-index: 1;
		color:#fff;
		line-height: 45px;
		height: 45px;
		.iconfont{
			font-weight: normal;
			margin-right: 10px;
		}
		.transition(0.3s ease-out);
	}
	.changebar{
		top: 0px;
		left: 0px;
		position: absolute;
		z-index: 0;
		.transition(0.3s ease-out);
	}
	.change0{
		background-color: @color_green;
	}
	.change1{
		background-color: @color_yellow;
	}
	.change2{
		background-color: @color_greenyellow;
	}
}



.teacherpagetag{display: none}
.teacherpagetagshow{display: block;}
.teacherinfobox{
	background-color: #fff;
	padding: 10px;
	.size(100%,auto);

	.tagbox{
		margin-bottom: 5px;
		.clearfix();
		.size(100%,auto);
		position: relative;
		padding-left: 65px;
		line-height: 24px;
		.tagtitle{
			position: absolute;
			left: 0px;
			top: 0px;
			color:@color_title;
			font-weight: bold;
		}
		.wbtn_tag{
			margin:4px 3px;
		}
	}

	.introduction{
		font-size: 14px;
		line-height: 20px;
		color:@color_title;
		strong{
			font-size: 14px;
			font-weight: bold;
		}
	}

}

.creatdiscuss_form{
	width: 100%;
	textarea{
		.size(100%,auto);
		border:none;
		font-size: 14px;
	}
	.discuss_tagbox{
		.size(100%,36px);
		&:extend(.fixbar);
		padding-top: 7px;
		overflow: hidden;
		bottom: 40px;
		border-top: 1px solid #ccc;
	}
	.checkbox{
		.bb(1px,1px);
		position: absolute;
		top: -0px;
		left: -100px;
	}
	label{
		float: left;
		margin-left: 10px;
		line-height: 20px;
		height: 20px;
		color:@gary_text;
		.wbtn{
			margin-right: 2px;
			line-height: 18px;
			border-radius: 4px;
			.square(18px);
			padding: 0px;
			.iconfont{
				&:before{
					content:"　";
				}
				display: block;
				margin:2px auto;
				font-size: 12px;
				line-height: 12px;
			}
		}
	}
	.checkbox:checked+label{
			color:@color_main;
		.wbtn{
			background-color: @color_main;
			border-color:@color_main;
			.iconfont{
				&:before{
					content: "\e622";
				}
			}
		}
	}//.checkbox:checked+label
	.discuss_contral{
		.size(100%,41px);
		border-top: 1px solid #ccc;
		&:extend(.fixbar);
		overflow: hidden;
		bottom: 0px;
		label{
			margin-top: 10px;
		}
		.discuss_submit,.discuss_exit{
			float: right;
			margin-right: 10px;
			margin-top: 2px;
			line-height: 36px;
			padding: 0 20px;
			.size(auto,36px)
		}
	}//.discuss_contral
}//.creatdiscuss_form

.fixbox{
	.square(100%);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
	background-color: #000;
	.transition(0.5s ease-out);
}

.closethis{
	display: none;
	transform:translate3d(0px,-10%,0px);
	opacity:0;
}

// @-webkit-keyframes closethis{
// 	0%{-webkit-transform:translate3d(0px,0px,0px);opacity: 1;}
// 	100%{-webkit-transform:translate3d(0px,10%,0px);opacity: 0;}
// }




//话题详情
.discusscontainer{
	padding-bottom: 22px;
	position: relative;
	overflow: hidden;
	.transition(0.5s ease-out);
	.title{
		font-size: 16px;
		color:@color_main;
		font-weight: bold;
	}
	.description{
		font-size: 14px;
		color:@gary_text;
		line-height: 22px;
	}
	.bottombar{
		position: absolute;
		bottom: 0px;
		left: 0px;
		font-size: 12px;
		margin-top: 6px;
		background-color: #fff;
		padding: 3px 10px;
		.size(100%,22px);
		.clearfix();
		text-align: center;
		.time{
			float: right;
			color:@color_title;
		}
		.wbtn_tag{
			float: left;
		}
		.dropdownicon{
			.square(16px);
			display:block;
			margin: 0 auto;
			.rotate(-90deg);
			.transition(0.5s ease-out);
			.iconfont{
				font-size: 16px;
				line-height: 16px;
				color:@gary_c;
			}
		}
	}
}
.maxh100{
	max-height: 100px;
}

.praisebox{
	text-align: center;
	.wbtn{
		margin: 0 5px;
		font-size: 16px;
		font-weight: bold;
		width: 30%;
		text-align: right;
		.iconfont{
			float: left;
			font-weight: normal;
		}
	}
}

.answerlistbox{
	padding: 0px;
	.answerlist{
		min-height: 70px;
		padding: 10px;
		border-bottom:1px solid @gary_c;
		position: relative;
		&:first-child{
			border-top: 1px solid @gary_c;
		}
		.authorinfo{
			.bb(50px,auto);
			float: left;
			text-align: center;
			position: absolute;
			left: 10px;
			top: 10px;
			.picture{
				.square(35px);
				img{
					.square(35px);
				}
			}//.picture
			.wbtn_tag{
				margin-top:0px;
				width: 100%;
				overflow: hidden;
				text-align: right;
				.iconfont{
					.square(16px);
					float: left;
				}
			}//.wbtn_tag
		}//.authorinfo
		.answerinfo{
			.size(100%,auto);
			padding-left: 55px;
			position: relative;
			h3{
				font-size: 18px;
				line-height: 20px;
				font-weight: bold;
				margin: 0px;
				color:@color_main;
				padding-right: 100px;
				.ellipsis();
			}
			.time{
				position: absolute;
				right: 0px;
				top: 0px;
				line-height: 20px;
				font-size: 12px;
				color:@gary_c;
			}
			p{
				font-size: 14px;
				color:@color_title;
			}
		}//.answerinfo
	}//.answerlist
}


//个人中心
.mycenterheader{
	background-color: #fff;
	position: relative;
	.bb(100%,80px);
	.touxiang{
		.square(60px);
		position: absolute;
		top: 10px;
		left: 10px;
		img{
			.square(60px);
		}
	}
	.name{
		.bb(100%,20px);
		font-size: 14px;
		line-height: 20px;
		padding-left: 70px;
		color: @color_title;
		&:first-child{
			margin-top: 12px;
			font-size: 16px;
			font-weight: bold;
		}
	}
	.infoicon{
		.square(24px);
		position: absolute;
		top: 22px;
		right: 20px;
	}
}

.hupenghuanyou{
	text-align: center;
	.wbtn{
		height: 45px;
		line-height: 43px;
		padding: 0 20px;
		position: relative;
		.iconfont{
			float: left;
			margin-right: 5px;
		}
		.text{
			float: left;
			display: inline-block;
			font-weight: bold;
		}
		.number{
			position: absolute;
			top: -1px;
			right: -1px;
			border-top-right-radius: 10px;
			border-bottom-left-radius: 10px;
			font-size: 12px;
			line-height: 12px;
			.size(auto,14px);
			padding: 0 3px;
		}
	}
}

.mycenterlist{
	.listbox{
		margin-bottom: 10px;
		.bb(100%,50px);
		line-height: 50px;
		background-color: #fff;
		padding: 0 10px;
		clear: both;
		&:active{
			background-color: @gary_bg;
		}
		.listicon{
			float: left;
			margin-right: 5px;
		}
		.title{
			float: left;
			color: @color_title;
			font-weight: bold;
			font-size: 16px;
		}
		.righticon{
			float: right;
			.titleinfo{
				color:@gary_c;
				display: block;
				float: left;
			}
			.wbtn_round{
				.square(8px);
				margin-top: 21px;
			}
			.goicon{
				display: block;
				float: right;
				margin-left: 5px;
				margin-right: 10px;
				.rotate(180deg);
				.iconfont{
					font-size: 14px;
				}
			}
		}
	}
	.listgroup{
		margin-bottom: 10px;
		.listbox{
			margin:0 0 1px 0;
		}
		.listbox:last-child{
			margin: 0px;
		}
	}
}



//个人资料
.maintitle{
	font-size: 20px;
	text-align: center;
	color:@color_main;
}
.personerinfo{
	.listbox{
		.size(100%,50px);
		position: relative;
		margin-bottom: 5px;
		input{
			padding-left: 50px;
			font-size: 16px;
			.size(100%,50px);
			border: none;
			border-top: 1px solid @gary_c;
			border-bottom: 1px solid @gary_c;
			border-radius: 0px;
			box-shadow:none;
			// line-height: 50px;
		}
		label{
			left: 10px;
			top: 10px;
			position: absolute;
			.square(30px);
			font-weight: normal;
		}
	}
}