//消息列表

.productbox{
	a{color:#fff;}
}
.box{
	width: 100% !important;
	.mainlist{
		background-color: #fff;
		.toupiaobox .mainconcent .inputicon .icon{
			margin: 2px;
		}
	}
	.header{
		background-color: @color_main;
	}
	.submit{
		color:#fff;
		background-color: @color_main;
	}
	.checkinfo{
		.close{
			opacity:1;
			text-shadow:none;
		}
	}
	.deliverytype{
		.name{
			.ellipsis();
		}
	}
}


//index_hrlove
.mainnav{
	padding: 10px;
	.col-xs-3{
		padding: 0px;
		text-align: center;
		padding-top: 10px;
		.iconfont{
			background: transparent;
			border-width: 3px;
			padding: 10%;
			border-radius: 15%;
			// display: block;
			// margin:10px auto 0 auto;
		}
		.text{
			display: block;
			margin:10px auto 0 auto;
		}
	}
}

@media all and (min-width:768px){
	.footerbar .col-xs-3 .redpoint{
		right: 42%;
	}
}


